*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
/* ul,
ol,
li {
	list-style: none;
} */

img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	margin: 15px;
	text-align: center;
}
html,
body {
	height: 100%;
	line-height: 1,7;
}
textarea,
button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}
button {
	cursor: pointer;
	background-color:grey;
	margin: 20px;
	padding: 10px 20px;
	border-radius: 8px;
}
img{

}